Click>=7.0
Flask>=1.1.1
gunicorn>=19.9.0
itsdangerous>=1.1.0
Jinja2>=2.10.1
MarkupSafe>=1.1.1
Werkzeug>=0.15.6
numpy>=1.22.1 
Pillow>=9.0.0
flask_cors>=3.0.10
tournamentfetcher>=0.2.1
pandas>=1.4.0 
requests>=2.27.1
selenium
webdriver-manager>=3.5.3 
pyyaml
