body {
    overflow: hidden;
    background: linear-gradient(180deg, rgba(37, 54, 70, 0.9) 80%, rgba(151, 216, 241, 0.3) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

input,
select,
button {
    height: 35px;
    box-shadow: 3px 1px 1px black;
}

#generate-button-span,
#fetch-button-span {
    height: 20px;
    width: 20px;
}

.checkbox {
    height: 40px;
}

.col-label {
    margin-left: 5px;
    font-style: italic;
}

.settings {
    display: none;
    position: relative;
    background-color: #212529;
    border: #b3b7bc solid 1px;
    border-radius: 25px;
    padding-inline: 20px;
    padding-block: 20px;
    opacity: 0.98;
}

.settings-entry:hover {
    background-color: #3b434b;
    border-radius: 25px;
}

#confirm-reset-button {
    background-color: rgb(231, 124, 124);
    color: white;
}

#output_img {
    box-shadow: 3px 1px 1px black;
}

#settings-button,
#reset-button,
#generate-button {
    box-shadow: 0px 0px 0px black;
}

a {
    color: #7b95ac;
}

a:hover {
    color: #2c3d4c;
}

h1 {
    font-size: 42px;
    font-family: Oxygen;
}

#socials > * {
    margin-inline: 8px;
}

#socials > a {
    text-decoration: none;
}